/* Icon Sizing */
.icon {
    width: 24px;
    height: 24px;
  }
  
  /* Adjustments for List Items */
  .file-list li {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  